/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) */
/* --------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* --------------------------------------------------------------------------------------- */

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

*, *:before, *:after {
    box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
    padding: 0px;
    background: #000 url(../images/background.jpg);
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #f77;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
}

b, strong { font-weight: bold; }

.share { font-size: 0px; }

.error {
    color: #f94220;
}

button:hover {
    cursor: pointer;
}

button {
    outline: none;
}

.share a.facebook {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #3B5A95 url(../images/facebook_white.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.share a.twitter {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #2ECBF8 url(../images/twitter_white.svg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: block;
    max-width: 800px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 15px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, .8);
}

header strong {
}

header h1 {
    padding: 0px 0px 30px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 400;
}
header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.2em;
}

header form input,
header form button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
}

header form button {
    background-color: #f94220;
    color: #fff;
}

header form button:hover {
    cursor: pointer;
    background-color: #e25237;
}

header form button span {
    background-image: url(../images/phone.svg);
    background-size: 18px 18px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .share {
    margin-top: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 40px 0px 25px 0px;
}

p, li {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 25px;
}

ul {
    list-style-type: disc;
    padding-left: 20px; 
}

img.photo {
    max-width: 100%;
    height: auto;
}

section {
    display: block;
    max-width: 830px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 15px;

    background: rgba(0, 0, 0, .66);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .66);
}

@media screen and (min-width: 481px) {
    body {
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
    }

    header h1 {
        padding: 30px 0px 30px 0px;
        font-size: 2.5em;
    }

    header form input {
        width: 47%;
    }

    header form button {
        width: 25%;
    }

    section {
        padding: 20px 30px;
    }

    p, li {
        font-size: 1.2em;
        line-height: 1.4em;
    }
}

footer {
    margin-top: 40px;
    background: #222;
    padding: 60px 15px 60px 15px;
}
footer img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
footer div.gutter {
    display: block;
    max-width: 800px;
    margin: 0px auto;
    box-sizing: border-box;

}
footer p {
    opacity: .75;
    margin-bottom: 0px;
}

body.modal-open {
  overflow: hidden;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: scroll;
    animation: fade-in .2s;
}

.modal {
    width: 700px;
    margin: auto;
    position: relative;
    background-color: #450d4e;
    padding: 15px 30px;
    border-radius: 8px;
}

.modal h2 {
    margin-top: 20px;
}

.modal strong {
    color: #c072d3;
}

.modal .close {
    position: absolute;
    right:6px;
    top: -3px;
    font-size: 36px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: none;
}